html,body{
    height: 100%;
    width: 100%;
}
.text-center{
    text-align: center;
    color: orange;
}

.div2 .button{

    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 55px;
    width: 160px;
    font-weight: 600;
    margin: 20px;
    font-size: 35px;
    background-color:orange;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer
}
.div .button{
    
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 55px;
    width: 65px;
    font-weight: 600;
    margin: 5px;
    font-size: 33px;
    background-color: rgb(91, 212, 230);
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;/*for convert elshm to hand*/
}
.container{
    margin: auto;
    display: flex;
    justify-content: center;
    background-image:url(images.jpeg) ;
    background-size: cover;
    border-radius: 30px;
    width: 500px;
    height: 570px;
    background-position: center;
    align-items: center;
    flex-direction: column;
}

.input input{
    
    padding: 8px;
    width: 300px;
    margin: 4px;
    font-size: 2.5rem;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
}